/* Clients Section Animation */

@keyframes scroll-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}

.animate-scroll-rtl {
  animation: scroll-rtl 15s linear infinite;
}

/* Faster animation on mobile */
@media (max-width: 768px) {
  .animate-scroll-rtl {
    animation: scroll-rtl 10s linear infinite;
  }
}

.animate-scroll-rtl:hover {
  animation-play-state: paused;
}
