/* Clients Section Animation */

@keyframes scroll-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-rtl {
  animation: scroll-rtl 20s linear infinite;
}

.animate-scroll-rtl:hover {
  animation-play-state: paused;
}
